.jumbotron {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    opacity: .80;
}

body {
    /*background-color: black;*/
   /* background: rgba(11, 11, 41, 0.7);*/
    background: url(../images/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;  
}

#schedule {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 50px;
    opacity: .80;
}

#trainList {
    margin: 50px;
}

#form-control {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    opacity: .80;
}

.card-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: brown;
    color: white;
}  

#add-train-btn {
    background-color: brown;
}

.card-body {
    border-style: solid;
    border-width: 5px;
    border-color: brown;
}